.label{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 8px;
    font-weight: 500;
    font-size: 18px;
}

.dropdown{
    margin-top: .25rem!important;
    height: 30px;
    width: 68px;
    padding: 2px 3px 2px 3px;
    font-size: 15px;
    color:#fff;
}